/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

canvas {
  display: inline-block; }

template {
  display: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px; }

ul,
ol {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.eot");
  src: url("../fonts/Roboto.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype"), url("../fonts/Roboto.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Italic.eot");
  src: url("../fonts/Roboto Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Italic.woff2") format("woff2"), url("../fonts/Roboto Italic.woff") format("woff"), url("../fonts/Roboto Italic.ttf") format("truetype"), url("../fonts/Roboto Italic.svg#Roboto Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Medium.eot");
  src: url("../fonts/Roboto Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Medium.woff2") format("woff2"), url("../fonts/Roboto Medium.woff") format("woff"), url("../fonts/Roboto Medium.ttf") format("truetype"), url("../fonts/Roboto Medium.svg#Roboto Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto Medium Italic.eot");
  src: url("../fonts/Roboto Medium Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto Medium Italic.woff2") format("woff2"), url("../fonts/Roboto Medium Italic.woff") format("woff"), url("../fonts/Roboto Medium Italic.ttf") format("truetype"), url("../fonts/Roboto Medium Italic.svg#Roboto Medium Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fontsRoboto Bold.eot");
  src: url("../fontsRoboto Bold.eot?#iefix") format("embedded-opentype"), url("../fontsRoboto Bold.woff2") format("woff2"), url("../fontsRoboto Bold.woff") format("woff"), url("../fontsRoboto Bold.ttf") format("truetype"), url("../fontsRoboto Bold.svg#Roboto Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto';
  src: url("../fontsRoboto Bold Italic.eot");
  src: url("../fontsRoboto Bold Italic.eot?#iefix") format("embedded-opentype"), url("../fontsRoboto Bold Italic.woff2") format("woff2"), url("../fontsRoboto Bold Italic.woff") format("woff"), url("../fontsRoboto Bold Italic.ttf") format("truetype"), url("../fontsRoboto Bold Italic.svg#Roboto Bold Italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

/* base */
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px !important;
  color: #244289;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* other */
a {
  color: #244289;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.35s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  a a:hover {
    cursor: pointer;
    color: #df1919; }

a,
span,
div {
  outline: none !important; }

input,
textarea {
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer; }

/* style placeholder */
input::-webkit-input-placeholder {
  color: #244289;
  font-size: 16px; }

input::-moz-placeholder {
  color: #244289;
  font-size: 16; }

input:-moz-placeholder {
  color: #244289;
  font-size: 16; }

input:-ms-input-placeholder {
  color: #244289;
  font-size: 16px; }

/* loader */
.loaded .page-wrap {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none; }

.loaded .icon-load {
  display: block; }

/* learfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
* HEADER
*/
/* media header */
/* CONTENT */
.page-wrap {
  position: relative;
  width: 2048px;
  height: 1200px;
  overflow: hidden; }

.box {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.box-bg {
  position: absolute;
  background-image: url(../img/img_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0; }

.box-promo {
  background-image: url(../img/img_promo.svg);
  width: 11.8vw;
  height: 23.3vh;
  opacity: 0; }

.box-logo {
  background-image: url(../img/img_logo_oui.svg);
  opacity: 0;
  z-index: 99; }
  .box-logo_link {
    display: inline-block;
    width: 100%;
    height: 100%; }

.box-descr {
  background-image: url(../img/img_description.svg);
  width: 19.4vw;
  height: 12.3vh;
  opacity: 0; }

.box-btn {
  opacity: 0;
  z-index: 99;
  background-color: #244289; }
  .box-btn_link {
    display: inline-block;
    padding: 25px 45px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    border: 4px solid #244289;
    border-radius: 7px; }
    .box-btn_link:hover {
      color: #e6e4e3;
      border-color: transparent;
      background-color: #244289; }

.box-center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 708px; }

.box-jar {
  background-image: url(../img/img_jar.png);
  top: -63px;
  left: 218px;
  width: 375px;
  height: 405px;
  opacity: 0;
  z-index: 5; }

.box-spoon {
  background-image: url(../img/img_spoon.png);
  top: -136px;
  left: 132px;
  width: 760px;
  height: 145px;
  -webkit-transform: rotate(-61.5deg);
          transform: rotate(-61.5deg);
  opacity: 0;
  z-index: 0; }
  .box-spoon-half {
    background-image: url(../img/img_spoon_half.png);
    top: -373px;
    left: 515px;
    width: 235px;
    height: 330px;
    opacity: 0;
    z-index: 6; }

.box-fruit {
  background-image: url(../img/img_strawberry.png);
  top: 133px;
  left: 491px;
  width: 223px;
  height: 228px;
  opacity: 0;
  z-index: 9; }

/* media content */
